div{
    width: 800px;
    height: 800px;
}
.m{
    width:250px;
    height: 250px;
    display: inline-block;
}

img{
    display:inline-block;    
}
.p{
    position: relative;
    bottom: 25px;
    color: #fff;
    left: 80px;
}
hr{
    width: 50px;
    border: 1px solid black;
    margin-left: 5px;
}